<div class="container fondo">
	<div class="row centrado">
		<div class="col-md">
			<p class="rg">REGISTRO</p>
		</div>
	</div>
	<br><br>
	<div class="row centrado">
		<div class="col-md">
			<div class="list">
			  <label class="item item-input">
			    <span class="input-label ini">Correo </span>
			    <input type="text" ng-model="usuario.correo" class="ingresos">
			  </label>
			  <label class="item item-input">
			    <span class="input-label ini">Contraseña </span>
			    <input type="password" ng-model="usuario.contra" class="ingresos">
			  </label>
			</div>
		</div>	
	</div>
	<br>
	<div class="row centrado">
		<div class="col-md centrado">
			<button class="button regis" ng-click="obtener(usuario)">
			  REGISTRAR
			</button>
		</div>
	</div>
</div>