/* 
font-family: 'Concert One', cursive; TITULOS
font-family: 'Spinnaker', sans-serif; SUBTITULOS
 */

.rg{
	font-family: 'Concert One', cursive;
	padding-top: 4em;
	font-size: 40px;
	text-shadow: 4px 4px 4px grey;
	color: white;

}
.centrado{
	display: flex;
	align-items: center;
	justify-content: center;
}
.fondo{
	background: url("https://i.pinimg.com/originals/9b/af/b4/9bafb4844ae8ddd813446b29d88fa535.jpg");
	background-size: cover no-repeat;

}
.regis{
	font-family: 'Concert One', cursive;
	box-shadow: 4px 4px 4px grey;
	background-color: #e5dfdf;
}
.ini{
	font-family: 'Concert One', cursive;
	font-size: 20px;
	text-shadow: 4px 4px 4px grey;
}